## Build output
bin/
obj/
build/
[Bb]uild/
[Bb]in/
[Oo]bj/

## User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
*.tmp
*.temp
*.log
*.cache

## Go debug binary created by VS Code
__debug_bin.exe

## DB
dev.db